html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #fff;
}

body {
    background: none;
}

section[role="region"] {
    margin: 2px;
}

h2.bb-docs {
    padding: 0.4rem 3rem;
    margin: -0.1rem 0 0;
    border: solid 0.1rem #e8e8e8;
    color: #666;
    font-size: 1.8rem;
    font-family: "MozTT", Sans-serif;
    font-weight: lighter;
    background-color: #f5f5f5;
}

.clear {
    clear: both;
}

#loader {
    margin: 1em;
    text-align: center;
}

#results-footer {
    font-family: "MozTT", Sans-serif;
    color: #666;
    font-size: 1.2rem;
    margin: 1em 0;
}

#results-footer a {
    color: #666;
}

/* overrides to bb input_area */
form[role="search"] {
    height: auto;
}

/* copied from buttons.css */
#dictselect {
    background: none repeat scroll 0% 0% rgb(231, 231, 231);
    text-align: left;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    background: url("bb/buttons/images/ui/default.png") repeat-x scroll left bottom rgb(250, 250, 250);
    border: 0.1rem solid rgb(166, 166, 166);
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    font: 500 1.6rem/3.8rem 'MozTT',Sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0px rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
}
